.reminder-table-container {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 12px 0px rgb(203, 201, 201);
    border-radius: 20px;
    font-family: "Poppins", serif;
}
.reminder-card-container{
    display: none;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .reminder-table th,
    .reminder-table td {
        padding: 8px;
    }
    .reminder-table-container{
        display: none;
    }
    .reminder-card-container{
        display: block;
    }

    .reminder-table-container {
        width: 100%;
    }
    .reminder-Add-btn button {
        font-size: 14px;
        padding: 6px 12px;
    }
}

@media (max-width: 320px) {
    .reminder-search input {
        font-size: 12px;
    }

    .reminder-Add-btn button {
        width: 90px;
        font-size: 14px;
    }

    .reminder-table-container {
        padding: 8px;
    }

    .reminder-table {
        font-size: 10px;
        min-width: 320px;
    }

    .reminder-table th,
    .reminder-table td {
        padding: 6px;
    }

    .reminder-table-container {
        overflow-x: auto;
    }

    .reminder-table {
      min-width: 600px; 
    }
}
