.report-title {
    display: flex;
    background-color: #F6F9FC;
    margin: 10px 0px;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    font-family: "Poppins", serif;
    align-items: center;
    font-size: 30px;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0px 0px 14px 0px rgb(116, 115, 115);
}

.AssignedTagsContainer {
    width: 50%;
}

.tagsOuter {
    text-align: center;
}

.AssignedTagsBtn {
    background-color: #3454D1;
    height: 40px;
    font-size: 10px;
    border-radius: 10px;
}

.AssignedTags {
    background-color: rgb(223, 223, 223);
    color: red;
}   
.report-bottom {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
}

@media(max-width:480px) {
    .report-title {
        font-size: 15px;
        padding: 10px 10px;
    }

     .p-button {
        width: 50% !important;
    }
    .AssignedTagsContainer {
        width: 95%;
    }

    .tagsOuter {
        text-align: start;
    }

    .report-bottom {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    .report-card1 {
        width: 100%;
    }

    .report-card12 {
        font-size: 20px;
        text-align: center;
    }

    .report-card1,
    .report-card2,
    .report-card3,
    .report-card4 {
        width: 100%;
    }

}

.report-card1 {
    height: 150px;
    width: 100%;
    box-shadow: 0px 0px 14px 0px rgb(116, 115, 115);

    border-radius: 0px 50px 00px 50px;
}

.report-card1 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    gap: 10px;
}

.report-card11 {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #3454D1;
}

.report-card12 {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.report-card12 span {
    font-family: 'Poppins', serif;
    font-size: 20px;
    font-weight: 400;
    color: #3454D1;
}

.report-card12 p {
    font-family: "Poppins", serif;
    color: #3454D1;
    font-weight: bold;
    font-size: 40px;
}


@media(max-width:768px){
    .p-button{
        min-width: 50px;
       margin: 0; 
    }
}